.root {
  border-radius: 7px;
  cursor: pointer;
  color: var(--white);
}

.root:hover {
  background-color: var(--pink);
}

.l {
  padding: 10px 25px;
  font-size: 20px;
  min-width: 30px;
  line-height: 20px;
  height: 40px;
  width: 50%;
}
.m {
  font-size: 16px;
  min-width: 25px;
  min-height: 25px;
}
.s {
  font-size: 12px;
  min-width: 20px;
  min-height: 20px;
}

.light {
  background-color: var(--green);
  border: 1px solid grey;
  color: var(--white);
}

.dark {
  background-color: grey;
  border: 1px solid black;
  color: white;
}
