.button {
  border-radius: 7px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid var(--black);
  border-radius: 4px;
  background-color: transparent;
}

.button:hover {
  background-color: var(--pink);
  cursor: pointer;
}

.l {
  padding: 10px 25px;
  font-size: 20px;
  min-width: 30px;
  line-height: 20px;
  height: 40px;
  width: 40%;
  box-shadow: 1px 1px 5px var(--black);
}
.m {
  font-size: 16px;
  min-width: 25px;
  min-height: 25px;
}
.s {
  font-size: 12px;
  min-width: 20px;
  min-height: 20px;
}

.light {
  background-color: var(--green);
  border: 1px solid grey;
  color: var(--white);
}

.dark {
  background-color: grey;
  border: 1px solid black;
  color: white;
}
