.root {
}

a {
  text-decoration: none;
}

.rangepicker__cell {
  cursor: pointer;
}

.rangepicker__cell {
  position: relative;
  border: 1px solid var(--white);
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 5px;
}

.rangepicker__cell.haveDreams::after {
  position: absolute;
  content: "";
  width: 7px;
  border-radius: 7px;
  top: 1px;
  right: 1px;
  height: 7px;
  background-color: var(--pink);
}

.rangepicker__cell:first-child {
  grid-column-start: var(--start-from);
}

.rangepicker__cell:active,
.rangepicker__cell.rangepicker__selected,
.rangepicker__cell.rangepicker__selected-from,
.rangepicker__cell.rangepicker__selected-to {
  background-color: var(--blue);
  color: var(--white);
}

.rangepicker__cell:hover,
.rangepicker__cell:focus,
.active {
  outline: none;
  background-color: var(--pink);
  color: var(--dark-blue);
  transition: 0.3s all;
}

.rangepicker__cell.rangepicker__selected:hover,
.rangepicker__cell.rangepicker__selected-from:hover,
.rangepicker__cell.rangepicker__selected-to:hover,
.rangepicker__cell.rangepicker__selected:focus,
.rangepicker__cell.rangepicker__selected-from:focus,
.rangepicker__cell.rangepicker__selected-to:focus {
  background-color: var(--middle-blue);
  color: var(--dark-blue);
}

.rangepicker__cell.rangepicker__selected-between {
  background-color: var(--light-blue);
}
