.content,
.footer {
  color: #e5e3e4;
}

.footer {
  background-color: #469597;
}

.contentWrapper {
  display: grid;
  grid-template-rows: 200px 2fr 1fr 80px;
}

.content {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: minmax(100vh, auto);
}

.mainBtn {
  background-color: var(--dark-green);
  border: 1px solid var(--green);
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
}
.mainBtn:hover {
  border: 1px solid var(--pink);
}
