.layout {
  display: grid;
  grid-template-rows: 1fr;
  line-height: 27px;

  text-align: center;
}

.root,
.layout {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}
