.header {
  background-color: var(--grey);
  max-width: 100%;
  width: 100%;
  text-align: right;
}

.header * {
  padding-right: 20px;
}

.hero {
  height: auto;
  background-color: var(--green);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.buttons {
  margin-top: 10px;
}
