.sidebar {
  background-color: var(--light-grey);
  border: 1.5px solid var(--pink);
  box-shadow: -8px 5px 20px 0px;
  z-index: 9999;
  overflow: hidden;
}

h1 {
  padding: 2rem 0px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h1,
h3 {
  color: var(--dark-green);
}

h3 {
  font-size: 1.1rem;
}

.logo {
  max-width: 150px;
  width: 100%;
}

.tags {
  margin-top: 2rem;
}

.burgerIcon {
  text-align: right;
  cursor: pointer;
}

.burgerIcon img {
  width: 45px;
}

.isHidden {
  display: none;
}
