.footer {
  background-color: var(--green);
  width: 100%;
}

.buttons {
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.footer a {
  color: var(--white);
  margin: 0px auto;

  border-bottom: 1px solid var(--white);
}
