.root {
  text-decoration: none;
  color: var(--black);
  min-width: 25px;
  border: 1px solid var(--black);
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
}

.active {
  color: var(--white);
  background-color: var(--pink);
}
