.active {
  color: var(--black);

  padding: 11px;
}

.navlink.active {
  background-color: var(--pink);
  border: 2px solid var(--pink);
}

.navlink:active {
  color: var(--black);
}

.navlink:hover {
  background-color: var(--pink);
}

.navlink {
  border-radius: 7px;
  cursor: pointer;

  min-width: 25px;
  border: 2px solid var(--white);
  border-radius: 4px;
  color: var(--white);
  padding: 7px 25px;
}
